<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.escalapp_v3"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.Escalapp_v3"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".MyAccount"></activity>
        <activity android:name=".AdcFuncionario" />
        <activity android:name=".mnAdmActivity" />
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecuperarSenha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity android:name=".dataBase.AlterarSenha" />
        <activity android:name=".AtividadesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainAdmActivity" />
        <activity android:name=".activity.Activity_list_atividades" />
    </application>

</manifest>